/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Arvo');

html,body {
	background:#ffffff;
	color:#1e1e1e;
}
body {
	color:#1F1F1F;
	line-height:24px;
}
#page-wrapper {
	background:none repeat scroll 0 0 #e6edf3;
	font-size:16px;
}
#header {
	background: #ffffff url("../images/headerBKD.jpg") no-repeat right top;
}
#columns {
	margin-bottom:0;
	margin-top:0;
	background:#e6edf3;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}

/* TYPOGRAPHY*/
a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}

h1, h2, h3, h4 {
	font-weight:normal;
	font-family:'Arvo', arial, serif;
	margin-bottom:15px;
	}
	

/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}
	
