/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');
/* Mobile Layout: 768px and below. */
html,body {
	background:#ffffff;
	color:#1e1e1e;
}
body {
	color:#1F1F1F;
	line-height:24px;
}
#page-wrapper {
	background:none repeat scroll 0 0 #e6edf3;
	font-size:16px;
}
#header {
	background: #ffffff url("../images/headerBKD2.jpg") no-repeat 0 0;
	width:100%;
	border-bottom:2px solid #ffffff;
}
.hospitalLogos {
	margin-bottom:2%;
}
.logoHeader {
	margin-bottom:2%;
}
#menu-bar {
	background:#ac1f2d;
	padding:0;
	border-bottom:1px solid #ffffff;
}
#menu-bar ul.nice-menu ul {
	background:#093254;
}
#menu-bar ul.nice-menu .menuparent.over > a,#menu-bar ul.nice-menu .menuparent a:hover,#menu-bar ul.nice-menu .menuparent a.active {
	background-color:#093254;
}
#menu-bar ul.nice-menu a.active,#menu-bar ul.nice-menu a:hover {
	background:#093254;
	color:#ffffff;
}
ul.nice-menu ul {
	top:3.5em !important;
}
#columns {
	background:#e6edf3;
	margin-top:0;
	margin-bottom:0;
	padding:7px;
}
.front #content-column .block,.node-person .block-inner,.comment-wrapper {
	border-top:none;
	background:#ffffff none repeat scroll 0 0;
	padding: 7px 7px;
	margin-Left:-10px;
}
.node .node-content #content-panels .block-inner {
	margin-top: 0;
	padding: 14px;
}
#content-panels #block-os-search-db-site-search.no-title #search-block-form {
	background: #ffffff none repeat scroll 0 0;
	margin-top: 20px;
}
#content-panels .block-content, .boxes-box-content {
	margin-top: 0;
	padding: 14px;
}
.node-type-person #content-column .node-person h2.block-title,.sidebar .block h2.block-title, h2.block-title {
	background:#ffffff none repeat scroll 0 0;
	border-bottom:thin solid #b2bcc9;
	color: #c32032 !important;;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight:700;
}
#content-panels .block-inner {
	background:#ffffff none repeat scroll 0 0;
	margin-top: 0;
}
.sidebar .block {
	background:#ffffff none repeat scroll 0 0;
	padding: 7px 7px;
	margin-Left:-10px;
	margin-bottom:10px;
}
.front #content-column .block .block-boxes,.block.block-boxes-os_boxes_columns,.block-boxes.block-boxes-os_sv_list_box .block-inner,.block-boxes-os_boxes_manual_list,.sidebar .block.section-nav,#content-column .block.section-nav,.front #content-column .block.block-boxes-os_slideshow_box,.page-node.node-type-person .node-person .block-inner {
	background:#ffffff none repeat scroll 0 0;
	padding: 7px 7px;
}
.field-name-body {
    padding: 14px;
}
.accordion .ui-state-default, .accordion .ui-widget-content .ui-state-default, .accordion .ui-widget-header .ui-state-default, .accordion .ui-state-active, .accordion .ui-widget-content .ui-state-active, .accordion .ui-widget-header .ui-state-active {
    background: #ffffff;
    border-bottom:thin solid #b2bcc9;
    color: #c32032 !important;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size:16px;
    line-height:18px;
    font-weight:400;
}
#footer {
	background:repeat-x 0 0 #c2c2c2;
	border-top:medium solid #959595;
}
.footer.footer-right .region-footer-third {
	float:right;
}
.socialMedia {
	float:right;
}
.traumaRoundsHome {
	background: #ffffff url("../images/traumaRoundsBkd.jpg") no-repeat 0 0;
}
/* TYPOGRAPHY*/
body {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
h1 {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color:#093254;
}
h2.block-title {
	background:#ffffff none repeat scroll 0 0;
	border-bottom:thin solid #b2bcc9;
	color: #c32032 !important;;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight:700;
	padding: 7px 10px;
}
p {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
#menu-bar ul.nice-menu a {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
#menu-bar ul.nice-menu .menuparent ul li a,#menu-bar ul.nice-menu .menuparent ul li a.active {
	color:#FFF;
	font-family:"Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:700;
	padding-right:8px;
}
a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}
.region-header-third ul.nice-menu a {
	color:#3a5475;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
#nice-menu-footer_hospitals ul {
	width:100%;
	margin-top:20px;
}
#nice-menu-footer_hospitals ul li {
	width:25%;
	padding:0;
}
#nice-menu-footer_hospitals ul li a {
	color:#3a5475;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:100;
}

/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}

/* Tablet Layout. Inherits styles from: Mobile Layout. */

@media only and (min-width: 769px) {
.region-inner {
	padding-top:0px;
}
.sidebar .block {
	margin-Left:-20px;
}
.block.no-title .block-content {
	margin-top:20px;
}
}
@media only screen and (min-width: 1009px) {
.region-inner.clearfix {
	padding-top:0px;
}
}
