/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

html,body {
	background:#ffffff;
	color:#1e1e1e;
}
body {
	color:#1F1F1F;
	line-height:24px;
}
#page-wrapper {
	background:none repeat scroll 0 0 #ffffff;
	font-size:16px;
}
#header {
	background: #ffffff url("../images/headerBKD1.jpg") no-repeat 0 0;
	width:100%;
	border-bottom:1px solid #ffffff;
}
#menu-bar {
	background:#ac1f2d;
	padding:0;
	border-bottom:1px solid #ffffff;
}
#menu-bar ul.nice-menu ul {
	background:#093254;
}
#menu-bar ul.nice-menu .menuparent.over > a,#menu-bar ul.nice-menu .menuparent a:hover,#menu-bar ul.nice-menu .menuparent a.active {
	background-color:#093254;
}
#menu-bar ul.nice-menu a.active,#menu-bar ul.nice-menu a:hover {
	background:#093254;
	color:#ffffff;
}
}
#columns {
	margin-bottom:0;
	margin-top:0;
	background:#e6edf3;
}
#mainLeft, #mainCenter, #mainRight {
	background:#ffffff repeat scroll 0 0;
	border:thin solid #b2bcc9;
	padding: 7px 7px;
}
#mainLeft {
	margin-Left:10px;
}
mainCenter {
	padding: 10px;
	background: #60748f;
}
#mainRight {
	margin-Right:10px;
}
}
.node-type-person #content-column .node-person h2.block-title,.sidebar .block h2.block-title {
	border-bottom:thin solid #b2bcc9;
	color: #c32032 !important;;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight:700;
}

/* TYPOGRAPHY*/
#menu-bar ul.nice-menu a {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
a, a:visited {
	color:#446677;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #222;
	}


/* IF THE SEPARATE IE CSS FILE IS NOT USED, PREFIX CLASSES CAN BE USED THROUGHOUT THIS FILE.
 THIS EXAMPLE IS AN IE8 OVERRIDE FOR MARGIN-BOTTOM OF AN H2 - .lt-ie8 WOULD TARGET IE7 */
.lt-ie9 h2 {
	margin-bottom:10px;
	}
	
